<div class="container">
    <a href="/">Voltar</a>
    <h1 class="title">{{user.name}}</h1>
    <p>{{user.occupation}}</p>
</div>
<div class="container">
    <strong>Endereço Cadastrado:</strong>
    <p>Rua: <strong>{{address.street}}</strong> Número <strong>{{address.number}}</strong></p>
    <p>Cidade: <strong>{{address.city}}</strong></p>
</div>